.timeline__container {
    /* border: 1px solid lightgrey; */
}

.timeline__grid > .tick line {
    stroke: #F6F6F6;
    stroke-width: 1px;
    shape-rendering: crispEdges
}

.timeline__bar {
    cursor: pointer;
}
.timeline__bar:hover {
    filter: brightness(85%)
}