$color-grey: rgb(152, 152, 152);
$color-lightgrey: #e8e8e8;

.timeline__container {
  background: #ffffff;
  box-shadow: 0 3px 8px 1px rgba(116, 116, 116, 0.5);
}

.domain {
  stroke: transparent;
}

.tick {
  line {
    stroke: $color-lightgrey;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }
  text {
    transform: translate(60px, -7px);
    width: 30px;
    color: $color-grey;
    text-anchor: end;

    &:hover {
      stroke: $color-grey;
      cursor: default;
      & + text {
        color: $color-grey;
      }
    }
  }
}

.timeline__bar {
  cursor: pointer;

  &:hover {
    filter: brightness(85%);
  }
}

.timeline__tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 6px;
  background: rgba(154, 154, 154, 0.8);
  border-radius: 8px;
}
