.timeline__container {
  background: #ffffff;
  box-shadow: 0 3px 8px 1px rgba(116, 116, 116, 0.5);
}

.domain {
  stroke: transparent;
}

.tick {
  line {
    stroke: #f6f6f6;
    stroke-width: 1px;
    shape-rendering: crispEdges;

    &:hover {
      stroke: rgb(152, 152, 152);

      & + text {
        color: rgb(152, 152, 152);
      }
    }
  }
  text {
    transform: translate(50px, -5px);
    width: 30px;
    color: rgb(232, 232, 232);
    text-anchor: start;
  }
}

.timeline__bar {
  cursor: move;

  &:hover {
    filter: brightness(85%);
  }
}

.timeline__tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: auto;
  padding: 2px;
  font-size: 12px;
  color: #ffffff;
  background: rgba(154, 154, 154, 0.8);
  border-radius: 8px;
  pointer-events: none;
}
